<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/webjars/semantic-ui-css/2.4.0/semantic.min.css">
    <script src="/webjars/semantic-ui-css/2.4.0/semantic.min.js"></script>
    <meta charset="UTF-8">
    <title>Booking List</title>
</head>
<body>
    <h1>All Car Bookings</h1>

    <table class="ui celled table">
        <thead><tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Cost</th>
            <th>Confirmed</th>
            <th>Customer Name</th>
        </tr></thead>

        <tbody>
        {{#bookings}}
            <tr>
                <td data-label="Start Date">{{startDate}}</td>
                <td data-label="End Date">{{endDate}}</td>
                <td data-label="Total Cost">{{totalCost}}</td>
                <td data-label="Confirmed">{{confirmed}}</td>
                <td data-label="Customer Name">{{customer.username}}</td>
            </tr>
        {{/bookings}}
        </tbody>
    </table>
    <br>
    <a href="/">Back to Home</a>
</body>
</html>
