<!--Amir 754006884-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Form </title>
</head>
<body>
<h1>Car Form</h1>

<form class="ui form" method="post" action="/cars/add">
    <div class="field">
        <label>Brand </label>
        <input type="text" name="brand" placeholder="Brand">
    </div>
    <div class="field">
        <label>Model</label>
        <input type="text" name="model" placeholder="Model">

    </div>
    <div class="field">
        <label>Price</label>
        <input type="number" name="price" placeholder="Price">

    </div>


    <button class="ui button" type="submit">Submit</button>
</form>

<a href = "/cars"> Back to Car list</a>

</body>
</html>