<!--Alexander Ougnitch - 759002953-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Review</title>
</head>
<body>
<h1>Leave a Review</h1>
<form action="/review/add" method="post">

    <label>Rating out of 5</label>
    <input type="number" name="rating" required><br><br>

    <label>Description</label>
    <input type="text" name="description" required><br><br>

    <button type="submit">Submit Review</button>
</form>
<br>
<a href="/">Back to Home</a>
</body>
</html>