<!--Alexander Ougnitch - 759002953-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>

<h1>{{successMessage}}</h1>
<br>
    <ul>
        <li><a href="/bookings">View All Bookings</a></li>
        <li><a href="/customers">View All Customers</a></li>
        <li><a href="/reviews">View All Reviews</a></li>
        <li><a href="/">Go home</a></li>
    </ul>
</body>
</html>